<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">
    
          <!-- Footer links -->
          <div class="row text-center text-md-left mt-3 pb-3">
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">About Us</h6>
              <p>We help you to make familiar with the culture from all over the World!!
              </p>
            </div>
            <!-- Grid column -->
    
            <hr class="w-100 clearfix d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Cultures</h6>
              <p>
                    <a href="#!">Egyptian</a>
                  </p>
                  <p>
                    <a href="#!">Indian</a> &nbsp; <mdb-badge color="red">New</mdb-badge>
                  </p>
                  <p>
                    <a href="#!">Chinese</a>
                  </p>
            </div>
            <!-- Grid column -->
    
            <hr class="w-100 clearfix d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
              <p>
                <a href="#!">Your Account</a>
              </p>
              <p>
                <a href="#!">Become an Affiliate</a>
              </p>
              <p>
                <a href="#!">Shipping Rates</a>
              </p>
              <p>
                <a href="#!">Help</a>
              </p>
            </div>
    
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
              <p>
            <mdb-icon fas icon="home" class="mr-3"></mdb-icon> Boston, MA 02115, US
            </p>
            <p>
            <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> cccp@edu.com
            </p>
            <p>
            <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> + 01 234 567 88
            </p>
            <p>
            <mdb-icon fas icon="print" class="mr-3"></mdb-icon> + 01 234 567 88
            </p>
            </div>
            <!-- Grid column -->
    
          </div>
          <!-- Footer links -->
          <hr>

          <!-- Call to action -->
          <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
              <h5 class="mb-1">Register for free</h5>
            </li>
            <li class="list-inline-item">
              <app-register-modal></app-register-modal>
              
            </li>
          </ul>
          <!-- Call to action -->
      
          
          <hr>
    
          <!-- Grid row -->
          <div class="row d-flex align-items-center">
    
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">
    
              <!--Copyright-->
              <p class="text-center text-md-left">© 2019 Copyright:
                <a href="http://localhost:4200/">
                  <strong> Cross Culture Collaboration Platform</strong>
                </a>
              </p>
    
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">
    
              <!-- Social buttons -->
              <div class="text-center text-md-right">
                <ul class="list-unstyled list-inline">
                  <li class="list-inline-item">
                    <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                      <mdb-icon fab icon="facebook"></mdb-icon>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                      <mdb-icon fab icon="twitter"></mdb-icon>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                      <mdb-icon fab fab icon="google-plus"></mdb-icon>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                      <mdb-icon fab icon="linkedin"></mdb-icon>
                    </a>
                  </li>
                </ul>
              </div>
    
            </div>
            <!-- Grid column -->
    
          </div>
          <!-- Grid row -->
    
        </div>
        <!-- Footer Links -->
    
      </footer>
      <!-- Footer -->

<!--Modal Code -->

      