<mdb-card style="background-image: url('assets/image/crossCultureBg.jpg')">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">
      <!-- Content -->
      <h5 class="h5 orange-text">
        <mdb-icon fas icon="dove"></mdb-icon> Love And Peace At
        <mdb-icon fas icon="feather-alt"></mdb-icon>
      </h5>
      <h2 class="card-title h2 my-4 py-2">Cross Cultural Collaboration</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">
        We at Cross Cultural Collaboration Platform makes your experience unique
        by making you reach various parts of the globe and experience their
        culture, food and tradition. We make sure, the memory of every place
        stays with you for-ever by making the souvenirs available..
      </p>
      <a mdbBtn gradient="peach" (click)="navigate()" mdbWavesEffect>
        <mdb-icon fas icon="clone" class="left"></mdb-icon> View project</a
      >
    </div>
  </div>
</mdb-card>

<!-- Section: Testimonials v.3 -->
<section class="team-section text-center bg-warning">
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold teamMem">
    Our Team
  </h2>
  <!-- Section description -->
  <p class="dark-grey-text w-responsive mx-auto mb-5">
    The idea of Cross Cultural Platform was discussed over a cup of coffee. Who
    knew, these cup of coffees would become a regular way of making the idea
    into a platform.
  </p>

  <!--Grid row-->
  <div class="row text-center">
    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">
      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img
            src="assets/image/rsz_team1.jpg"
            class="rounded-circle z-depth-1 img-fluid"
          />
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">Divya Girase</h4>
        <h6 class="font-weight-bold blue-text my-3">Artifact Enthusiast</h6>
        <p class="font-weight-normal dark-grey-text">
          <i class="fas fa-quote-left pr-2"></i> Divya has been with Cross
          Cultural Platform since its very first day. Divya is an artifact
          enthusiast and loves to collect, examine and discover history behind
          these ancient gems!
        </p>
        <!--Review-->
      </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">
      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img
            src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg"
            class="rounded-circle z-depth-1 img-fluid"
          />
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">John Doe</h4>
        <h6 class="font-weight-bold blue-text my-3">Web Developer</h6>
        <p class="font-weight-normal dark-grey-text">
          <i class="fas fa-quote-left pr-2"></i>Ut enim ad minima veniam, quis
          nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
          aliquid commodi.
        </p>
      </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img
            src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg"
            class="rounded-circle z-depth-1 img-fluid"
          />
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">Maria Kate</h4>
        <h6 class="font-weight-bold blue-text my-3">Photographer</h6>
        <p class="font-weight-normal dark-grey-text">
          <i class="fas fa-quote-left pr-2"></i>At vero eos et accusamus et
          iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          deleniti atque corrupti.
        </p>
      </div>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</section>
<!-- Section: Testimonials v.3 -->
