.container {
  height: 50px;
}
.card {
  height: 500px;
  border-radius: 0.25rem !important;
}

// .rgba-gradient .full-bg-img {
//   background: linear-gradient(
//     45deg,
//     rgba(42, 27, 161, 0.6),
//     rgba(29, 210, 177, 0.6) 100%
//   );
// }

// .intro-2 {
//   background: url("/src/assets/image/culturebackground.jpg") no-repeat center
//     center;
//   background-size: cover;
// }
// .view {
//   height: 200vh !important;
// }
.row {
  margin-top: 10px;
}
.bottom {
  margin-bottom: 2px;
}
