<!-- Section: Blog v.1 -->
<section class="my-5">
  <!-- <app-alert></app-alert> -->
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">
    The Culture Gallery
  </h2>

  <!-- Section description -->
  <p class="text-center w-responsive mx-auto mb-5">
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
    eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <div class="jumbotron text-center hoverable p-4">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-5">
        <!-- Featured image -->
        <div
          class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light wow fadeInLeft"
          mdbWavesEffect
        >
          <img
            class="img-fluid"
            src="assets/image/mill1.jpg"
            alt="Sample image"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7">
        <!-- Category -->
        <a href="#!" class="orange-text">
          <h1 class="font-weight-bold mb-3">
            <mdb-icon fas icon="dove" class="pr-2"></mdb-icon>INDIA
          </h1>
        </a>
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3">
          <strong>Incredible Stories With Incredible Food</strong>
        </h3>
        <!-- Excerpt -->
        <p>
          Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
          impedit quo minus id quod maxime placeat facere possimus, omnis
          voluptas assumenda est, omnis dolor repellendus et aut officiis
          debitis.
        </p>
        <!-- Post data -->
        <p>
          by <a><strong>Carine Fox</strong></a
          >, 19/08/2018
        </p>
        <!-- Read more button -->
        <a
          mdbBtn
          id="india"
          color="orange"
          [routerLink]="['discover', 'india']"
          mdbWavesEffect
          >Discover</a
        >
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>

  <hr class="my-5" />
  <div class="jumbotron text-center hoverable p-4">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-7">
        <!-- Category -->
        <a href="#!" class="red-text">
          <h1 class="font-weight-bold mb-3">
            <mdb-icon fas icon="dragon" class="pr-2"></mdb-icon>CHINA
          </h1>
        </a>
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3">
          <strong>It Never Fails To Amaze</strong>
        </h3>
        <!-- Excerpt -->
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
          et quas molestias excepturi sint occaecati cupiditate non provident.
        </p>
        <!-- Post data -->
        <p>
          by <a><strong>Carine Fox</strong></a
          >, 14/08/2018
        </p>
        <!-- Read more button -->
        <a
          mdbBtn
          id="china"
          color="red"
          [routerLink]="['discover', 'china']"
          mdbWavesEffect
          class="mb-lg-0 mb-4"
          >Discover</a
        >
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-5">
        <!-- Featured image -->
        <div
          class="view overlay rounded z-depth-2 waves-light wow fadeInRight"
          mdbWavesEffect
        >
          <img
            class="img-fluid"
            src="assets/image/mill2.jpg"
            alt="Sample image"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <hr class="my-5" />
  <div class="jumbotron text-center hoverable p-4">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-5">
        <!-- Featured image -->
        <div
          class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light wow fadeInLeft"
          mdbWavesEffect
        >
          <img
            class="img-fluid"
            src="assets/image/mill3.jpg"
            alt="Sample image"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7">
        <!-- Category -->
        <a href="#!" class="brown-text">
          <h1 class="font-weight-bold mb-3">
            <mdb-icon fas icon="cat" class="pr-2"></mdb-icon>EGYPT
          </h1>
        </a>
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3">
          <strong>And Its Never Ending Mysteries</strong>
        </h3>
        <!-- Excerpt -->
        <p>
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
          fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
          sequi nesciunt. Neque porro qui dolorem ipsum quia sit amet.
        </p>
        <!-- Post data -->
        <p>
          by <a><strong>Carine Fox</strong></a
          >, 11/08/2018
        </p>
        <!-- Read more button -->
        <a
          mdbBtn
          id="egypt"
          color="brown"
          [routerLink]="['discover', 'egypt']"
          mdbWavesEffect
          >Discover</a
        >
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
</section>
<!-- Section: Blog v.1 -->
