html,
body,
.imgCarousal {
  background-size: contain;
  width: 100%;
  height: 640px;
}

.carousel-caption {
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px 15px black;
  font-size: x-large;
}
