<header>
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100 imgCarousal">
        <img
          class="d-block w-100"
          src="assets/image/IndiaCulture.jpg"
          alt="First slide"
        />
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">India</h3>
        <p>Where Beauty Lies In The Art</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100 imgCarousal">
        <img
          class="d-block w-100"
          src="assets/image/ChinaCulture.jpg"
          alt="Second slide"
        />
        <div class="mask rgba-grey-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">China</h3>
        <p>Which Never Fails To Amuse</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100 imgCarousal">
        <img
          class="d-block w-100"
          src="assets/image/EgyptCulture.jpg"
          alt="Third slide"
        />
        <div class="mask waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Egypt</h3>
        <p>And Its Never Ending Mystries</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</header>
