<!-- Jumbotron -->
<div class="jumbotron text-center blue-grey lighten-5">
  <!-- Title -->
  <h2 class="card-title h2">The Souvenir Store</h2>

  <!-- Subtitle -->
  <p class="my-4 h6">Souvenirs to buy from all over the world!!</p>

  <!-- Grid row -->
  <div class="row d-flex justify-content-center">
    <!-- Grid column -->
    <div class="col-xl-7 pb-2">
      <p class="card-text">
        Buy Souvenirs from different cultures all around the World.
      </p>
      <p class="card-text">
        And support the local artisans in keeping the artform alive !!
      </p>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

  <hr class="my-4 rgba-white-light" />

  <div class="pt-2">
    <button
      mdbBtn
      (click)="navigate()"
      gradient="blue"
      rounded="true"
      mdbWavesEffect
    >
      Buy now <mdb-icon far icon="gem" class="ml-1"></mdb-icon>
    </button>
  </div>
</div>
<!-- Jumbotron -->
